{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>Hand Written Numeric Digit Recognition</h1>
{% if uploaded_file_url %}
<h3>You have entered : <span style="color:red">{{ uploaded_file_url }}</span></h3>
{% endif %}

<form method="post" enctype="multipart/form-data" onsubmit="return save()">
    {% csrf_token %}
    <canvas id="can" width="200" height="200" style="position:absolute;top:20%;left:10%;border:2px solid; "></canvas>
    <br>
    <input type="hidden" name="myfile" id="hiddenfile">
    <input type="submit" value="Submit" id="btn" size="50" style="position:absolute;top:55%;left:10%;" >
    <a href="/"><input type="button" value="Reset" id="clr" size="23" onclick="" style="position:absolute;top:55%;left:18%;"></a>


    <!--<button type="submit">Upload</button>-->
</form>




{% endblock %}